@page "/books/details"
@using Microsoft.EntityFrameworkCore
@using Grp19OnlineBookStorePE03.Classes
@inject IDbContextFactory<Grp19OnlineBookStorePE03.Data.Grp19OnlineBookStorePE03Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Book</h2>
    <hr />
    @if (book is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">StaffId</dt>
            <dd class="col-sm-10">@book.StaffId</dd>
            <dt class="col-sm-2">Category</dt>
            <dd class="col-sm-10">@book.Category</dd>
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@book.Price</dd>
            <dt class="col-sm-2">Author</dt>
            <dd class="col-sm-10">@book.Author</dd>
            <dt class="col-sm-2">BookName</dt>
            <dd class="col-sm-10">@book.BookName</dd>
        </dl>
        <div>
            <a href="@($"/books/edit?bookid={book.BookId}")">Edit</a> |
            <a href="@($"/books")">Back to List</a>
        </div>
    }
</div>

@code {
    private Book? book;

    [SupplyParameterFromQuery]
    private int BookId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        book = await context.Book.FirstOrDefaultAsync(m => m.BookId == BookId);

        if (book is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
